$sidebar-color: #0d2222;
$primary-color: #4F008D;
$text-muted: rgba(black, 0.4);
$light-bg: rgba(black, 0.1);
$active-route-bg: rgba($primary-color, 0.1);
$success-color: #46C93A;
$danger-color: #FF3D3D;
$warning-color: #F49011;
$light-shadow: rgba($primary-color, 0.1) 0px 4px 12px;

$font-sizes: (
  'x-small': 12px,
  'small': 14px,
  'normal': 16px,
  'medium': 20px,
  'large': 22px,
  'x-large': 30px,
);
