<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 my-2" *ngFor="let card of ['', '', '','', '', '']">
      <div class="movie--isloading">
        <div class="loading-image"></div>
        <div class="loading-content">
          <div class="loading-text-container">
            <div class="loading-main-text"></div>
            <div class="loading-sub-text"></div>
          </div>
          <div class="loading-btn"></div>
        </div>
      </div>
    </div>
  </div>
</div>
