<mat-toolbar class="stc-nav-bar" *ngIf="(user$ | async) as user">
  <ng-content></ng-content>
  <div class="nav-menu">
    <button mat-button class="nav-info" [matMenuTriggerFor]="menu">
      <ng-container *ngIf="(isAdmin$ | async) as isAdmin; else stcUSer">
        <div class="info-wrapper">
          <div class="role-title">{{isAdmin ? 'Super Admin': 'STC User'}}</div>
          <div class="user-name">{{user?.userName | titlecase}}</div>
        </div>
      </ng-container>
      <ng-template #stcUSer>
        <div class="info-wrapper">
          <div class="role-title">{{'STC User'}}</div>
          <div class="user-name">{{user?.userName | titlecase}}</div>
        </div>
      </ng-template>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="logOut()" mat-menu-item class="d-flex align-items-center justify-content-between">
        <span class="material-icons-outlined">
          logout
        </span>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
